@import "tailwindcss";
@import url(./root.css);

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  background: #252525;
  color: snow;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}
#root{
  display: grid;
  flex-direction: column;
  width: inherit;
  height: inherit;
}