---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Nav />
  <article>
    <h1>Welcome to dashboard</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, officia
      voluptates? Recusandae autem dolorem esse minima natus quasi? Quam neque
      expedita labore architecto at eaque cumque saepe, quas dolor harum!
    </p>
  </article>
</Layout>
