---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
---

<nav>
  <aside>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
  </aside>
  <SignedOut>
    <SignInButton mode="modal" />
  </SignedOut>
  <SignedIn>
    <UserButton />
  </SignedIn>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background: rgb(255, 129, 3);
  }
</style>
